name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - elixir: '1.19'
            otp: '28'
          - elixir: '1.19'
            otp: '27'
          - elixir: '1.18'
            otp: '27'
          - elixir: '1.18'
            otp: '26'
          - elixir: '1.17'
            otp: '26'
          - elixir: '1.17'
            otp: '25'

    name: Test (Elixir ${{ matrix.elixir }}, OTP ${{ matrix.otp }})

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-

      - name: Install dependencies
        run: mix deps.get

      - name: Compile
        run: mix compile --warnings-as-errors

      - name: Run tests
        run: mix test